<footer class="footer">
    <div class="card-footer bg-primary text-white d-flex flex-wrap">
        <div class="row">
            <div class="col-md-12">
                <p class="d-block">©2023 SurveyApi, all rights reserved. Top speed, completely free.</p>
                <p class="d-block">Current Time is {{ currentDate | date }} {{ currentDate | date: 'hh:mm:ss a' }}</p>           
                <p class="d-block">If you have questions about anything or advertising, please contact us at
                    surveyapi.support@gmail.com.</p>
            </div>
        </div>
    </div>
</footer>