.img-fluid {
    height: 150px;
    width: 150px;
}

img {
    border: 2px solid black;
    margin-bottom: 0.5cm;
}

.div-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1cm;
}
  
.btn-outline-secondary.blue {
  background-color: #eeeee4;
  color: black;
}