@import '~bootstrap-icons/font/bootstrap-icons.css';

html{
    position: relative;
    min-height: 100%;
   
}

body{
    margin-bottom: 60px;
    /*background-image: url(assets/img/background.png);*/
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center;*/
}

.justify-text{
    text-align: justify;
}

.right-text{
    text-align: right;
}

.button-option{
    background-color: #eeeee4; 
    border: 1px solid #000000; 
}

.btn:hover{
    background-color: burlywood;
    border: 1px solid #000000; 
}